//#top-nav-container{
//  height: 48px;
//  width: 100vw;
//  padding: 0 0 0 16px;
//}


#logo-icon {
    //width: 56px;
    height: 32px;
    //margin: 16px 16px 16px 0;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    //background: #ffffff;
    //padding: 8px;
  }
  
  .logo-title {
    margin: 12px 0;
    //font-size: 36px;
    line-height: 1;
    opacity: 0.7;
  }
  
  
  .mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: none;
  }
  
  
  
  .divider {
    width: 1px;
    height: 100%;
    background: #ebeef4;
    margin: 0 8px;
  }
  
  #profile-img {
    height: 32px;
    border-radius: 50%;
    //padding: 0 12px;
  }
  
  #profile-img-big {
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }
  
  .mat-subheading-1 {
    margin: 0;
  }
  
  #app-menu {
    //min-width: 240px;
    max-width: 30vw;
    padding: 16px;
  }
  
  .account-button {
    //padding: 4px 0 0 0;
  }
  
  .manage-account-button {
    //margin: 0 16px;
  }
  
  .full-width-btn {
    width: 90%;
  }
  
  mat-divider {
    margin: 8px 0;
  }
  
  
  //----------------------------------------------- Tabs Style -----------------------------------------------
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    //background-color: #fff !important;
  
  }
  
  //----------------------------------------------- Tabs Style -----------------------------------------------
  
  
  
  
  
  
  
  //----------------------------------------------- Notifications Style -----------------------------------------------
  .mat-menu-panel {
    min-width: 360px !important;
    max-width: 50vw;
  }
  
  #notifications-menu {
    min-width: 360px;
    max-width: 50vw;
  }
  
  .heading {
    text-align: center;
  }
  
  .p-10 {
    padding: 0px 10px;
  }
  
  .notification-list {
    margin: 0px;
    padding: 16px;
    font-size: 12px;
  }
  
  .notification-list li {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    background-color: #Edf1f5;
    list-style: none;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.9)
  }
  
  .notification-list li:first-child {
    border-top: 1px solid #ddd;
  }
  
  .mat-dialog-container {
    padding: 0px !important;
  }
  
  // .mat-tab-list {  padding-top: 40%;}
  //----------------------------------------------- Notifications Icons -----------------------------------------------