<div>
    <mat-toolbar color="primary">
        <mat-icon>person_add</mat-icon> &nbsp;
        <span>{{headerMessage}}</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" (click)="submit()"
            [disabled]="clientsForm.invalid || inProgress === true">
            <mat-icon>done</mat-icon>
        </button>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="inProgress"></mat-progress-bar>


    <div fxLayout="column"  class="container">
        <form [formGroup]='clientsForm' >
            <mat-grid-list cols="1" rowHeight="100px" class="direction">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label >Client Type</mat-label>
                        <mat-select formControlName="clientType">
                            <mat-option *ngFor="let clientType of clientTypes" [value]="clientType">
                                {{clientType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Client Name</mat-label>
                        <input matInput formControlName="clientName" placeholder="Client Name">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Client ID</mat-label>
                        <input matInput [disabled]="true" formControlName="clientId" placeholder="Client ID">
                    </mat-form-field>
                </mat-grid-tile>
                                 
                <mat-grid-tile *ngIf="!client">
                    <mat-form-field appearance="outline">
                    <mat-label>Client Secret</mat-label>
                    <input matInput [disabled]="true" formControlName="clientSecret" placeholder="Client Secret">
                    <mat-icon matSuffix style="cursor: pointer;" (click)="click()" [cdkCopyToClipboard]="clientsForm.get('clientSecret')?.value">content_copy</mat-icon>
                    <mat-hint [ngStyle]="{color: isCopied ? 'green' : 'red'}">{{isCopied ? 'Copied' : 'Note: Please Copy'}}</mat-hint>
                    </mat-form-field> 
                </mat-grid-tile>
                                    
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Access Token Expires In</mat-label>
                        <input (keypress)="numberOnly($event)" matInput formControlName="accessTokenExpiresIn" placeholder="Access Token">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>
</div>   