.example-spacer {
  flex: 1 1 auto;
}


.container {
  padding: 7px;
  overflow-y: scroll;
  height: 70vh;
}

.direction {
  text-align: left;
}

mat-form-field {
  width: 47vw;
}

.required:after {
  content:" *";
  color: red;
}
