<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'">
        <app-medex-apps-nav></app-medex-apps-nav>
    </mat-drawer>
    <mat-drawer-content>
        <div fxLayout="column" fxFlex class="main-container">
            <div id="top-nav">
                <app-top-nav (toggleApps)="drawer.toggle()" style="background-color: red;"></app-top-nav>
            </div>

            <div fxLayout="row overflow-hidden">
                <app-side-nav class="border-r side-nav" *ngIf="!isFullScreenMode">
                </app-side-nav>
                <div [ngClass]="!isFullScreenMode ? 'dashboard' : 'dashboard-dark'" fxFlex>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
