<div class="h-full relative overflow-scroll">
    <div class="p-2 space-y-2 header h-52">
        <div class="px-4 py-2 sm:px-6 heading flex flex-row">
            <div class="mat-headline">CLIENT MANAGEMENT</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class="info">
            <div fxLayout="row" fxLayoutGap="50px">
                <div class="cloumn" fxLayoutGap="27px">
                    <div class="mat-subheading-1"><b>Client Id</b></div>
                    <div class="mat-body-1">{{clientInfo && clientInfo.clientId ? clientInfo.clientId : '--'}}</div>
                </div>
                <div class="cloumn" fxLayoutGap="27px">
                    <div class="mat-subheading-1"><b>Client Name</b></div>
                    <div class="mat-body-1">{{clientInfo && clientInfo.clientName ? clientInfo.clientName : '--'}}</div>
                </div>
            </div>
        </div>
    </div>



    <mat-tab-group class="tab-group bg-white">
        <mat-tab label="Preferences">
            <ng-template matTabContent>
                <div class="overflow-x-auto overflow-y-visible">
                    <!-- <app-client-preferences [clientId]="clientId" [clientInfo]="clientInfo"></app-client-preferences> -->
                    <app-preferences *ngIf="clientInfo" [sourceType]="'client'" [sourceInfo]="clientInfo">
                    </app-preferences>
                </div>
            </ng-template>
        </mat-tab>
        <!-- <mat-tab label="Custom Form Builder">
            <ng-template matTabContent>
                <div class="overflow-x-auto overflow-y-visible">
                    <app-medex-custom-field [sourceInfo]="clientInfo" [sourceType]="'client'"></app-medex-custom-field>
                </div>
            </ng-template>
        </mat-tab> -->
    </mat-tab-group>
</div>