.insta-container {
    height: 7%;
    background-color: #ffff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding-top: 12px;
}

.insta-heading {
    // margin: 10px auto 12px;
    margin-left: 15rem;
    background-image: url("/assets/logos/instagram-text-icon.png");
    background-size: 100px 30px;
    background-repeat: no-repeat;
    height: 51px;
    width: 177px;
    overflow: hidden;
}

.message {
    font-weight: bold;
    color: #7c7878;
    // font-size: 17px;
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;
    text-align: center;
}

.container {
    padding-top: 80px;
    margin: 0 auto;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    font-size: 14px;
}

.box {
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 12px;
    padding: 10px 0;
    flex-grow: 1;
    // background-color: red;
}

.heading {
    margin: 10px auto 12px;
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yV/r/6JqvJ6H_bFT.png");
    background-size: 440px 411px;
    background-position: -125px 0;
    height: 97px;
    width: 100px;
    // overflow: hidden;
}

.field {
    margin: 7px 0;
    position: relative;
    font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
}

input {
    padding: 9px 0px 7px 9px;
    font-size: 12px;
    width: 16rem;
    height: 2.5rem;
    outline: none;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #efefef;
}

/* label intial position*/

label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    padding-bottom: 15px;
    transform: translateY(10px);
    line-height: 6px;
    transition: all ease-out 0.1s;
    font-size: 14px;
    color: #999;
    padding-top: 6px;
}

/* hiding placeholder in all browsers */

input::placeholder {
    visibility: hidden;
}

/* hiding  placeholder in mozilla */
.login-form ::-moz-placeholder {
    color: transparent;
}

/* label final position */
input:not(:placeholder-shown)+label {
    transform: translateY(0);
    font-size: 11px;
}

/* input padding increases if placeholder is not shown */
input:not(:placeholder-shown) {
    padding-top: 14px;
    padding-bottom: 2px;
}

.login-button {
    text-align: center;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0.5rem;
    border: 1px solid transparent;
    background-color: #3897f0;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    margin-top: 6px; 
}

.separator .line {
    height: 1px;
    width: 40%;
    background-color: #dbdbdb;
}

.other {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fb-login-btn {
    margin: 1rem;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    color: #385185;
    font-weight: 600;
    background: transparent;
}

.fb-icon {
    color: #385185;
    font-size: 1rem;
    padding-right: 1px;
}

.forgot-password {
    font-size: 11px;
    color: #003569;
}

.signup {
    color: #3897f0;
    font-weight: 600;
}